{% extends "master.html.twig" %}

{% block headAdd %}
        <script>
            $(document).ready(function() {
                $('input[name=email]').keyup(function() {
                    var email = $('input[name=email').val();
                    $('#isTaken').load("/isemailregistered/" + email);
                });
            });
        </script>
{% endblock %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Email: <input type="email" name="email" value="{{v.email}}"><span class="errorMessage" id="isTaken"></span><br>
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Password: <input type="password" name="pass1"><br>
        Password (repeated): <input type="password" name="pass2"><br>
        <input type="submit" value="Register">
    </form>

{% endblock content %}