{# empty Twig template #}

{# show errors #}
{% if errorlist %}
    <ul>
        {% for error in errorlist %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# show form #}
<form method="post">
    Name: <input type="text" name="name" value="{{v.name}}"<br>
    Age: <input type="text" name="age" value="{{v.age}}"<br>
    <input type="submit" value="Add Person"
</form>