{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data>
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Description: <textarea name="description">{{v.description}}</textarea><br>
        Price <input type="number" step="0.01" name="price" value="{{v.price}}"><br>
        Image: <input type="file" name="productImage">
        <input type="submit" value="{% if v.id %}Save{% else %}Add{% endif %} product">
    </form>

{% endblock content %}
