{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <p><a href="/admin/products/add">add product</a></p>
    <table border="1">
        <tr><th>#</th><th>name</th><th>description</th><th>price</th><th>image</th><th>actions</th></tr>
        {% for p in list %}
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{p.price}}</td>
            <td>todo</td>
            <td>
                <!-- method 2 - button with javascript -->
                <button onclick="window.location='/admin/products/delete/{{p.id}}';">Delete</button>
            </td>
        </tr>                
        {% endfor %}
    </table>
{% endblock content %}