body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px is standard */
    background-color: white;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

.article {
    margin-bottom: 30px;
}

.article h1 {
    font-size: 20px;
}

.article h2 {
    font-size: 16px;
}
